@model List<Cede_ASP_MVC_Events_Main.Models.Personal>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <label>
       @item.Name @item.LastName
    </label>
    <br/>
}

